{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Search for a TV Show{% endblock %}</h1>
{{ super() }}
{% endblock %}

{% block content %}
<form class="searchbar" method="post">
    <input type="text" placeholder="Game of Thrones..." name="title" id="title" required>
    <button type="submit"><i class="fa fa-search"></i></button>
</form>

<header><h1>Today's Trending</h1></header>

{% for result in results %}
<article class="result">
    <div class="flex-container">
        <div style="flex-grow: 1">
            <img src="{{ result['poster_url'] }}" style="width:165px;height:250px;float:center">
        </div>

        <div style="flex-grow: 7">

        <header>
            {% if g.user['id'] %}
            {% if result['id'] in session.get('show_ids') %}
            <a class="action">Already added</a>
            {% else %}
            <a href="{{ url_for('search.add_to_fav',show_id=result['id'], name=result['title'] ) }}" class='action ph-button ph-btn-blue' >Add</a>
            <!-- <a class="action" href="{{ url_for('search.add_to_fav',show_id=result['id'], name=result['title'] ) }}">+ Add to my favourites</a> -->
            {% endif %}
            {% endif %}
            <div>
                <h1>{{ result['title'] }}</h1>
                <div class="about">First aired on {{ result['date'] }} | {{ result['vote_average'] }} Stars</div>
            </div>

        </header>
        <p class="body">{{ result['overview'] }}</p>
        </div>
    </div>
</article>
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}