{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Search for a TV Show{% endblock %}</h1>
{{ super() }}
{% endblock %}

{% block navbar %}
<ul>
    <li><a class="active" href="{{ url_for('search.search')}}">New Search</a></li>
    <li><a href="{{ url_for('myfav.get_my_fav')}}">My Favourites</a></li>
    <li style="float:right;"><a href="#about">About</a></li>
</ul>
{% endblock %}

{% block content %}

    <form class="searchbar" method="post">
    <input type="text" placeholder="Type here to do a new search" name="title" id="title" required>
    <button type="submit"><i class="fa fa-search"></i></button>
    </form>

<header><h1>Today's Trending</h1></header>

{% endblock %}