{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Top rated shows{% endblock %}</h1>
{{ super() }}
{% endblock %}

{% block navbar %}
<ul>
    <li><a href="{{ url_for('search.search')}}">Search Show</a></li>
    <li><a href="{{ url_for('search.get_trending', page=1)}}">Trending</a></li>
    <li><a href="{{ url_for('search.get_popular')}}">Popular</a></li>
    <li><a class="active" href="{{ url_for('search.get_top_rated')}}">Top rated</a></li>
    <li style="float:right;"><a href="{{ url_for('myfav.get_my_fav')}}">My Favourites</a></li>
    <li style="float:right;"><a href="{{ url_for('about')}}">About</a></li>
</ul>
{% endblock %}

{% block content %}

{% endblock %}